@import "_theme.scss";

.home {
  #header_bottom {
    height: 11px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("../assets/images/header_bottom.png");
  }

  .promotion-wrapper {
    height: 367px;
    width: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero-background.png");
    background-size: 100% 100%;
  }

  @media (max-width: $sm) {
    .promotion-wrapper {
      background-color: #0c2b49 !important;
      background-image: none;
      height: 320px !important;
    }
  }
  @media (max-width: $mxs) {
    .promotion-wrapper {
      height: 320px !important;
    }
  }
}
